<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/board"><span class="glyphicon glyphicon-briefcase
        " aria-hidden="true"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/board">Board <span class="sr-only">(current)</span></a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/charts">Charts</a>
        </li>
      </ul>
      
      <div class="navbar-form navbar-left pa-1">
        <span class="label label-primary">Angular v {{ version.full }}</span>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="mr-2">John Doe</a>
        </li>
        <li>
          <a  href="#" class="glyphicon glyphicon-user"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>